.add-row-button-atten {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    /* Adjust size */
    height: 30px;
    border-radius: 50%;
    /* Makes it circular */
    border: none;
    background-color: transparent;
    color: gray;
    /* Adjust color */
    font-size: 24px;
    cursor: pointer;
    margin: auto;

    transform: translate(+35%, -54%);
    /* Centers the button */
}

.top-right-button-ar {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 1;
    background: transparent;
    color: #002060;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.input-box-attendance {
    position: relative;
    background-color: white;
    padding: 15px;
    margin-top: 10px;
    /* Keeps it aligned */
    width: 100%;
    /* Makes the boxes shorter */
    /* Prevents overly long input fields */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-left-button-attendance {
    position: absolute;
    top: 20px;
    left: 25px;
    z-index: 1;
    background: transparent;
    color: #002060;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}