.risk-control-attributes-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(191, 191, 191, 1) 0%, rgba(242, 242, 242, 1) 100%);
    font-family: Arial;
}

.main-box-risk-control-attributes {
    flex: 1;
    width: 100%;
    margin-left: 10px;
    border-radius: 3px;
    position: relative;
    z-index: 5;
    overflow: visible;
}

/* For modern browsers */
.table-container-risk-control-attributes::-webkit-scrollbar {
    border-radius: 8px;
    width: 10px;
    /* Width of the vertical scrollbar */
    height: 10px;
    /* Height of the horizontal scrollbar */
}

.table-container-risk-control-attributes::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

.table-container-risk-control-attributes::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker color when hovered */
}

.table-container-risk-control-attributes::-webkit-scrollbar-track {
    background: #e0e0e0;
    /* Color of the scrollbar track */
    border-radius: 8px;
    /* Rounded corners for the track */
}

/* For Firefox */
.table-container-risk-control-attributes {
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: #888 #e0e0e0;
    /* Thumb color, track color */
}

.table-container-risk-control-attributes {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 50px);
    /* Full height minus padding */
    overflow-y: auto;
    margin: 0;
    box-sizing: border-box;
    background-color: white;
    padding: 5px;
    padding-top: 15px;
    border-radius: 10px;
}

.top-right-button-control-att {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 1;
    background: transparent;
    color: #333;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.top-right-button-control-att-2 {
    position: absolute;
    top: 20px;
    right: 70px;
    z-index: 1;
    background: transparent;
    color: #333;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.search-popup-rca {
    position: absolute;
    top: 55px;
    right: 30px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-popup-input-rca {
    padding: 6px 10px;
    font-size: 14px;
    width: 200px;
    border: 1px solid #999;
    border-radius: 4px;
}

.search-popup-clear-rca {
    background-color: #f0f0f0;
    border: 1px solid #aaa;
    padding: 6px 8px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}

.search-popup-clear-rca:hover {
    background-color: #e0e0e0;
}

.search-popup-close-rca {
    color: #333;
    cursor: pointer;
    font-size: 18px;
}

.table-scroll-wrapper-attributes-controls {
    flex: 1;
    width: 100%;
    /* fill the parent’s width */
    overflow: auto;
}

.risk-control-attributes-table {
    min-width: 100%;
    width: 120% !important;
    border-collapse: collapse;
}

.risk-control-attributes-table-ws {
    min-width: 100%;
    width: 100% !important;
    border-collapse: collapse;
}

.risk-control-attributes-head {
    position: sticky;
    top: 0;
    background-color: #002060;
    color: white;
    z-index: 1;
}

.risk-control-attributes-tr {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.risk-control-attributes-split {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 2px solid white;
}

.risk-control-attributes-head th {
    position: sticky;
    top: 0;
    background-color: #002060;
    color: white;
    z-index: 2;
    /* above the body rows */
}

.risk-control-attributes-th {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.risk-control-attributes-nr {
    width: 3%;
    padding: 10px;
    text-align: center;
    background-color: #D9D9D9 !important;
    border-bottom: 1px solid #ddd;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-control {
    width: 25%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-description {
    width: 32%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-quality {
    width: 9%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-perf {
    width: 10%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-critcal {
    width: 2%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-right: 2px solid white !important;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-hiearchy {
    width: 16%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-act {
    width: 5%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-activation {
    width: 10%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-cons {
    width: 8%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #D9D9D9 !important;
    color: black !important;
    font-size: 14px;
}

.risk-control-attributes-point {
    cursor: pointer;
}

.risk-control-label-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 5px);
    margin-bottom: 20px;
    margin-top: 5px;
}

.risk-control-label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    flex: 1;
}

.risk-control-label-icon {
    font-size: 18px;
    color: gray;
    margin-left: 10px;
    cursor: pointer;
}