.cea-4-row {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-wrap: nowrap;
    /* prevent wrapping */
}

.cea-column-fourth {
    flex: 1;
    width: 25%;
}

.scrollable-container-controlea {
    max-height: 70vh;
    /* Adjust height as needed */
    overflow-y: auto;
    padding-right: 8px;
    /* Optional: space for scrollbar */
}

.ibra-popup-page-label-output-2 {
    white-space: normal !important;
    /* allow wrapping */
    word-wrap: break-word;
    /* wrap long words if needed */
    /* better readability on multiple lines */
    display: block;
    /* ensure it flows like a paragraph */
    max-width: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px !important;
}

.cea-popup-page-component-wrapper {
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border: 1px solid #e8e8e8;
}

.cea-popup-page-input-green {
    background-color: #7EAC87 !important;
    color: white !important;
}

.cea-popup-page-input-yellow {
    background-color: #FFFF89 !important;
    color: black !important;
}

.cea-popup-page-input-red {
    background-color: #CB6F6F !important;
    color: white !important;
}

.cea-popup-page-textarea-full {
    width: calc(100% - 20px);
    min-height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #555;
    font-size: 14px;
    resize: vertical;
    font-family: Arial, sans-serif;
    field-sizing: content;
}

.cea-popup-page-component-wrapper label {
    font-weight: 500;
    color: #444;
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
}

.cea-popup-page-input {
    width: calc(100% - 22px);
    padding: 10px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #555;
    font-size: 14px;
}

.cea-popup-page-text-area-input {
    width: calc(100% - 22px);
    padding: 10px;
    min-height: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #555;
    font-size: 14px;
    field-sizing: content;
    resize: vertical;
    font-family: Arial;
}

.cea-popup-page-component-wrapper-control-management {
    position: relative;
    background-color: #ffffff;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    border: 1px solid #e8e8e8;
    width: 100%;
}

.cea-popup-page-component-wrapper-control-management label {
    font-weight: 500;
    color: #444;
    margin-bottom: 10px;
    display: block;
    font-size: 15px;
}