/* Popup container - covers the entire screen */
.manMat-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Popup box - the actual modal */
.manMat-popup-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    max-width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Close button */
.manMat-close-popup-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

/* Form Styling */
.manMat-form-group-manage {
    margin-bottom: 10px;
}

/* Consistent styles for input and select fields */
.manMat-select,
.manMat-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    /* Ensures padding doesn't affect the width */
}

/* Update button styling */
.manMat-update-button-manage {
    background-color: #7EAC89;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 48%;
    /* Adjust width for spacing */
    margin-right: 4%;
    /* Margin to space out buttons */
}

/* Close button styling */
.manMat-close-button {
    background-color: #CB6F6F;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 48%;
    /* Adjust width for spacing */
}

/* Aligning the update and close buttons */
.manMat-buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Messages */
.manMat-message-manage,
.manMat-error-message-manage {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.manMat-message-manage {
    background-color: #7EAC89;
    color: black;
}

.manMat-error-message-manage {
    background-color: #CB6F6F;
    color: black;
}