.manage-page-container-def-man {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #120b5b;
    position: relative;
}

.logo-button-def-man {
    position: absolute;
    /* Positioned relative to the container */
    top: 10px;
    /* Distance from the top */
    left: 10px;
    /* Distance from the left */
    width: 100px;
    height: 100px;
    background: none;
    /* Remove background for a clean look */
    border: none;
    /* Remove borders */
    cursor: pointer;
    /* Make it clickable */
    z-index: 10;
    /* Ensure it appears above other elements */
}

.logo-button-def-man:hover {
    transform: scale(1.125);
    cursor: pointer;
    background-color: transparent !important;
}

.logo-button-def-man img {
    width: 100px;
    /* Adjust logo size */
    height: 100px;
}

.log-button-def-man {
    position: absolute;
    /* Positioned relative to the container */
    top: 10px;
    /* Distance from the top */
    right: 10px;
    /* Distance from the left */
    width: 100px;
    height: 50px;
    background-color: rgb(204, 199, 199) !important;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 14px;
    /* Reduce font size */
}

.back-button-def-man {
    position: absolute;
    /* Positioned relative to the container */
    top: 10px;
    /* Distance from the top */
    right: 120px;
    /* Distance from the left */
    width: 100px;
    height: 50px;
    background-color: rgb(204, 199, 199) !important;
    justify-content: center;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 14px;
    /* Reduce font size */
}

.logo-button-def-man {
    left: 10px;
}

.log-button-def-man {
    right: 10px;
}

.back-button-def-man {
    right: 120px;
}

.manage-box-def-man {
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
    /* Center heading */
}

.manage-box-def-man h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #555454 !important;
    font-size: 24px;
    /* Adjust heading size as needed */
    color: white;
}

.form-group-def-man {
    margin-bottom: 15px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.form-group-def-man label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group-def-man select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group-def-man input {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.update-button-def-man {
    background-color: #555454 !important;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.message-def-man {
    background-color: #d1fae5;
    color: #064e3b;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.error-message-def-man {
    background-color: #fef2f2;
    color: #9b1c1c;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}