.popup-menu-container-FI {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.popup-menu-audio-player {
    position: absolute;
    top: -10px;
    left: -300px;
    z-index: 1000;
}

.popup-content-FI {
    position: absolute;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: center;
}

.popup-content-audio {
    position: absolute;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 360px;
    text-align: center;
}

.popup-content-FI ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-content-FI li {
    font-family: Arial;
    color: black;
    display: flex;
    align-items: center;
    /* Vertically center */
    justify-content: center;
    border: none;
    /* Horizontally center */
    padding: 10px;
    height: 20px;
    cursor: pointer;
    border: none !important;
    border-bottom: none !important;
}

.popup-below {
    top: 50px;
    /* space below the file name */
}

.popup-above {
    bottom: 0px;
    /* flip up instead */
}

.popup-content-FI li:last-child {
    border-bottom: none;
}

.popup-content-FI li:hover {
    background: #cfcece;
}

/* Make the player look like a single round Play/Pause button */
.rhap_container {
    background: transparent;
    box-shadow: none;
    padding: 0;
    width: calc(100% - 20px) !important;
}

.rhap_main-controls-button {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    border: 1px solid #ddd;
}

.rhap_play-pause-button {
    /* tint the icon if you want */
    color: #1f6fff;
}

/* Keep delete button aligned nicely */
.delete-audio-btn {
    background: transparent;
    border: 1px solid #ddd;
    border-radius: 999px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.delete-audio-btn:hover {
    background: #f6f6f6;
}

.rhap_controls-section {
    flex: 0;
}

.popup-audio {
    width: calc(100% - 0px);
}

.popup-audio .rhap_controls-section:empty {
    display: none;
}