.popup-menu-container-FI {
    position: absolute;
    top: -10px;
    left: 0px;
    z-index: 1000;
}

.popup-content-FI {
    position: absolute;
    top: 50px;
    left: 0px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 150px;
    text-align: center;
}

.popup-content-FI ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.popup-content-FI li {
    font-family: Arial;
    color: black;
    display: flex;
    align-items: center;
    /* Vertically center */
    justify-content: center;
    border: none;
    /* Horizontally center */
    padding: 10px;
    height: 20px;
    cursor: pointer;
    border: none !important;
    border-bottom: none !important;
}

.popup-content-FI li:last-child {
    border-bottom: none;
}

.popup-content-FI li:hover {
    background: #cfcece;
}