.sort-files-select-container::after {
    content: '';
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #777;
    pointer-events: none;
}

.sort-files-select-container {
    position: relative;
}

.sort-files-select {
    width: 93%;
    padding: 10px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    background-color: white;
    color: #555;
    font-size: 14px;
}

.sort-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.sort-popup-content {
    background: #f2f2f2;
    padding: 25px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
}

.sort-file-header {
    transform: translateY(-32%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: Arial;
}

.sort-file-group {
    transform: translateY(-3%);
    padding: 20px 0;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
}

.sort-file-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    flex: 1;

    text-align: left;
    font-family: Arial;
}

.sort-file-close {
    background: none;
    color: #ADADAD;
    border: none;
    font-size: 20px;
    width: 2.1%;
    font-weight: bold;
    cursor: pointer;
}

.sort-popup-title {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.sort-popup-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    text-align: center;
}

.sort-file-label {
    display: block;
    font-size: 19px;
    font-family: Arial;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}

.sort-file-label-tc {
    display: block;
    color: #7F7F7F;
    font-size: 12px;
    font-family: Arial;
    width: 85%;
    font-weight: 300;
    margin: 0px auto 10px;
    /* This centers the span */
    text-align: center;
}

.sort-popup-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.sort-popup-button {
    padding: 10px 15px !important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    font-weight: bold !important;
    font-size: 14px !important;
    flex: 1 !important;
    margin: 0 5px !important;
    transition: transform 0.2s ease, background-color 0.2s ease !important;
}

.sort-popup-button.confirm {
    background-color: #7EAC89 !important;
    color: white !important;
}

.sort-popup-button.cancel {
    background-color: #CB6F6F !important;
    color: white !important;
}

.sort-popup-button:hover {
    transform: scale(1.05) !important;
}

.sort-popup-button:active {
    transform: scale(0.95) !important;
}

.sort-file-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.sort-file-button {
    background: linear-gradient(to bottom, #6688cc 0%, #003080 25%, #002060 50%, #001040 100%);
    color: white;
    border: none;
    padding: 12px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: 16px;
    font-weight: bolder;
    font-family: Arial;
    cursor: pointer;
    border-radius: 5px;
}

.sort-file-text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}