/* Scrollable container with fixed layout */
.scrollable-box-dc-home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Always 3 columns */
    grid-template-rows: repeat(4, 1fr);
    /* Always 4 rows */
    gap: 40px;
    padding: 16px;
    width: calc(100% - 40px);
    /* Adjust based on your design */
    height: 90vh;
    margin: auto;
    overflow-y: auto;
}

/* Document card */
.document-card-dc-home {
    background: linear-gradient(135deg, #7F7F7F 0%, #BFBFBF 100%);
    /* Darker gradient */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    /* Slightly stronger shadow */
    transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 230px;
    cursor: pointer;
}

/* Info */
.document-info-dc-home {
    margin-top: 1px;
    font-size: 0.9rem;
    margin-bottom: 1px;
}

.icon-dc {
    width: 160px;
    height: 160px;
    background-color: #002060;
    border-radius: 50%;
    /* Ensures a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
    /* Prevents overflow */
}

.icon-dc svg {
    width: 60%;
    /* Adjust icon size relative to the circle */
    height: 60%;
}

.dc-info-container {
    font-family: Arial;
    display: flex;
    height: 100vh;
    padding: 20px;
    padding-right: 15px;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(191, 191, 191, 1) 0%, rgba(242, 242, 242, 1) 100%);
}

.main-box-dc {
    flex: 1;
    width: 80%;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

.file-with-certificate {
    position: relative;
    display: inline-block;
}

.file-icon {
    font-size: 45px !important;
    /* size of the file */
    color: white;
    /* file color */
}

.file-with-certificate svg {
    width: 40%;
    height: 60%;
}

.certificate-icon {
    position: absolute;
    top: -14px;
    /* moves it above the file */
    right: 25px;
    /* aligns to the top right */
    font-size: 10px !important;
    /* smaller size */
    color: gray;
    /* gold-ish color */
}