.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(0, 3, 8);
    background: linear-gradient(158deg, rgba(0, 3, 8, 1) 0%, rgba(0, 16, 49, 1) 55%, rgba(0, 32, 96, 1) 100%);
}

.forgot-password-card {
    background-color: transparent;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
}

.forgot-password-input-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background: white;
    background: transparent;
}

.forgot-password-group label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.forgot-password-group input {
    width: 100%;
    padding: 0.8rem;
    font-family: Arial;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    font-size: 1rem;
}

.forgot-password-button {
    width: 49%;
    padding: 0.8rem;
    color: #002060;
    /* Enhances contrast */
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: linear-gradient(180deg,
            #ffffff 0%,
            /* Bright highlight */
            #d9d9d9 30%,
            /* Light silver */
            #a8a8a8 60%,
            /* Mid-tone silver */
            #707070 100%
            /* Darker base */
        );
    box-shadow:
        inset 3px 3px 5px rgba(255, 255, 255, 0.8),
        /* Inner top-left highlight */
        inset -3px -3px 5px rgba(0, 0, 0, 0.6),
        /* Inner bottom-right shadow */
        2px 2px 4px rgba(0, 0, 0, 0.4);
    /* Outer shadow for depth */
    transition: all 0.2s;
}

.forgot-password-button-container {
    display: flex;

    justify-content: space-between;
    /* Centers the button horizontally */
    /* Adjust spacing */
}

.forgot-password-label {
    font-size: 20px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.forgot-password-group input:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.2);
}

.forgot-password-group {
    margin-bottom: 25px;
    background: transparent;
}

.forgot-password-logo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: white;
}

.forgot-password-title {
    font-size: 62px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    color: white;
}

.forgot-password-logo-img {
    width: 140px;
    height: 170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.forgot-password-logo-img-text {
    width: 300px;
    height: 80px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}