/* Main container setup */
.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  gap: 30px;
  min-height: 100vh;
}

/* Header styling */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: auto;
  background-color: #002060;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 90%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-content {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 37px;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
}

.header-logo {
  width: 70px;
  /* Adjust the logo size */
  height: 65px;
  margin-right: 15px;
  /* Space between the logo and text */
}

/* Content Sections */
.content-sections {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

/* Sections (Left, Right) */
.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  gap: 20px;
}

/* Card styling */
.card {
  background: white;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  transition: background-color 0.2s, color 0.2s;
  background-color: #002060;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

/* Card styling */
.card-blank {
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: default;
  transition: transform 0.2s ease-in-out;
  display: flex;
  background-color: transparent;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.card:hover {
  background-color: #002060;
  color: white;
}

.card.clicked {
  background-color: #002060;
  /* Change this to the color you want */
  color: black;
  /*transform: scale(1.025);*/
  transition: background-color 0.2s, color 0.2s;
}

.card img {
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
}

.logo {
  font-size: 3rem;
  margin-bottom: 15px;
}

.card h3 {
  font-size: 1.45rem;
  font-weight: bold;
}

.logout-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  /* Red button */
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s, background-color 0.2s;
}

.logout-button:hover {
  transform: scale(1.05);
  background-color: #c0392b;
  /* Slightly darker red */
}

.logout-button:active {
  transform: scale(0.95);
}

/* Responsiveness */

@media (max-width: 1024px) {
  .content-sections {
    flex-direction: column;
    gap: 20px;
  }

  .section {
    width: 100%;
  }
}