/* Styles for the Login Page */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #adadad;
  overflow-x: hidden;
}

.login-page-box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: #120b5b;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.header-content {
  position: relative;
  /* Allows precise positioning */
  top: 10px;
  /* Adjust the distance from the top */
  left: 10px;
  /* Adjust the distance from the left */
  z-index: 1000;
  /* Ensures it stays on top */
}

.responsive-logo {
  max-width: 100%;
  width: 150px;
  /* Default width */
  height: auto;
  /* Maintain aspect ratio */
  object-fit: contain;
  /* Ensure the image fits within the defined width */
}

.header-content h2 {
  font-size: 80px;
  position: relative;
  color: #666;
  margin-top: 70px;
  margin-left: 70px;
}

.header-content a {
  color: #666;
  text-decoration: none;
}

h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 50px;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
  color: #f4f6fc;
}

.input-group input {
  display: inline-block;
  width: 98%;
  padding: 7px;
  padding-left: 0;
  font-size: 24px;
  border: 0;
  color: #f4f6fc;
  background-color: transparent;
  border-bottom: 1px solid #f4f6fc;
  outline: 0;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #0b1320;
  outline: none;
}

.login-button {
  background-color: transparent;
  border: 3px solid;
  border-color: #f4f6fc;
  color: #f4f6fc;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.forgot-button {
  background-color: transparent;
  border: 3px solid;
  border-color: transparent;
  color: #f4f6fc;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.login-button:hover {
  background-color: #f4f6fc;
  color: #0b1320;
}

@media (max-width: 600px) {
  .login-box {
    background-color: transparent;
    width: 80%;
    padding: 0;
    box-shadow: 0px 0px 0px;
  }

  .responsive-logo {
    width: 100px;
    /* Adjust the size for smaller screens */
  }
}

.error-message {
  color: red;
  margin-bottom: 10px;
  font-size: 0.9rem;
  text-align: center;
}