.user-activity-log-info-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(191, 191, 191, 1) 0%, rgba(242, 242, 242, 1) 100%);
    font-family: Arial;
}

.main-box-user-activity-log {
    flex: 1;
    width: 100%;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

/* For modern browsers */
.table-container-user-activity-log::-webkit-scrollbar {
    border-radius: 8px;
    width: 10px;
    /* Width of the vertical scrollbar */
    height: 10px;
    /* Height of the horizontal scrollbar */
}

.table-container-user-activity-log::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

.table-container-user-activity-log::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker color when hovered */
}

.table-container-user-activity-log::-webkit-scrollbar-track {
    background: #e0e0e0;
    /* Color of the scrollbar track */
    border-radius: 8px;
    /* Rounded corners for the track */
}

/* For Firefox */
.table-container-user-activity-log {
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: #888 #e0e0e0;
    /* Thumb color, track color */
}

.table-container-user-activity-log {
    height: calc(100% - 50px);
    /* Full height minus padding */
    overflow-y: auto;
    margin: 0;
    box-sizing: border-box;
}

.user-activity-log-table {
    width: 100%;
    border-collapse: collapse;
}

.user-activity-log-head {
    position: sticky;
    top: 0;
    background-color: #002060;
    color: white;
    z-index: 1;
}

.user-activity-log-tr {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-activity-log-th {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.user-activity-log-nr {
    width: 5%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.user-activity-log-fn {
    width: 10%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.user-activity-log-stat {
    width: 10%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.user-activity-log-ver {
    width: 75%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.user-activity-log-point {
    cursor: pointer;
}