.popup-overlay-approvers-tms {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content-approvers-tms {
    background: #f2f2f2;
    padding: 20px;
    width: 800px;
    /* Wider popup */
    max-height: 100%;
    min-height: 490px;
    /* Ensure the popup does not stretch vertically */
    overflow: hidden;
    /* Prevent the popup content from scrolling */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.approvers-tms-table-group {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100%;
    padding: 15px 0;
    background-color: white;
    border-radius: 5px;
}

.popup-table-wrapper-approvers-tms {
    overflow-y: auto;
    max-height: 350px;
    min-height: 350px;
    width: 97%;
    /* You can adjust the width as needed */
    margin-bottom: 10px;
    /* Space between table and buttons */
    position: relative;
    /* Ensures the table is positioned correctly */
    display: flex;
    /* Enable flexbox for centering the table inside */
    justify-content: center;
    /* Centers the table horizontally */
    align-items: center;
    /* Centers the table vertically */
    display: block;
}