.flame-num-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 5%;
    font-size: 16px;
    text-align: center;
}

.flame-type-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 15%;
    font-size: 16px;
    text-align: center;
}

.flame-ass-nr-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 10%;
    font-size: 16px;
    text-align: center;
}

.flame-ph-icon {
    width: 160px;
    height: 160px;
    background-color: #002060;
    border-radius: 50%;
    /* Ensures a perfect circle */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #002060;
    overflow: hidden;
    /* Prevents overflow */
}

.flame-ph-icon svg {
    width: 60%;
    /* Adjust icon size relative to the circle */
    height: 60%;
}

.flame-area-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 13%;
    font-size: 16px;
    text-align: center;
}

.flame-owner-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 18%;
    font-size: 16px;
    text-align: center;
}

.flame-head-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 18%;
    font-size: 16px;
    text-align: center;
}

.flame-status-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 13%;
    font-size: 16px;
    text-align: center;
}

.flame-act-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 8%;
    font-size: 16px;
    text-align: center;
}

.flame-delete-button-fi {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.flame-sub-date-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 9%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-status-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 7%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-comp-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-head-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-cert-type-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 8%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-cert-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-auth-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 12%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-owner-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 10%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-area-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 8%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-ass-nr-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 8%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-ass-2-nr-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 8%;
    font-size: 14px;
    text-align: center;
}

.flame-sub-act-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 8%;
    font-size: 14px;
    text-align: center;
}

.status-good {
    background-color: #7EAC89;
    /* Bootstrap green */
    color: white;
    font-weight: bold;
    text-align: center;
}

.status-worse {
    background-color: #FFFF89;
    /* Bootstrap yellow */
    color: black;
    font-weight: bold;
    text-align: center;
}

.status-worst {
    background-color: #CB6F6F;
    /* Bootstrap orange */
    color: white;
    font-weight: bold;
    text-align: center;
}

.tr-placeholder {
    background-color: #f2f2f2;
    color: #505050;
}

.tr-placeholder:hover {
    background-color: #f2f2f2;
    color: #505050;

}

.status-missing {
    background-color: #8A8A8A;
    /* Bootstrap orange */
    color: white;
    font-weight: bold;
    text-align: center;
}

.status-bad {
    background-color: #FFC000;
    /* Bootstrap red */
    color: black;
    font-weight: bold;
    text-align: center;
}

.flame-all-num {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 5%;
    font-size: 14px;
    text-align: center;
}

.flame-all-site {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 10%;
    font-size: 14px;
    text-align: center;
}

.flame-all-type {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 12%;
    font-size: 14px;
    text-align: center;
}

.flame-all-ass-nr {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-all-area {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-all-owner {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 15%;
    font-size: 14px;
    text-align: center;
}

.flame-all-head {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 15%;
    font-size: 14px;
    text-align: center;
}

.flame-all-status {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 13%;
    font-size: 14px;
    text-align: center;
}

.flame-all-act {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 7%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-num-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 4%;
    font-size: 16px;
    text-align: center;
}

.flame-trash-site-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 6%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-type-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 10%;
    font-size: 16px;
    text-align: center;
}

.flame-trash-ass-nr-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 7%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-area-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 7%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-owner-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 9%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-cert-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-comp-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-head-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 11%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-status-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 7%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-date-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 9%;
    font-size: 14px;
    text-align: center;
}

.flame-trash-act-filter {
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    width: 7%;
    font-size: 14px;
    text-align: center;
}