.gen-file-info-container {
    display: flex;
    height: 100vh;
    padding: 20px;
    padding-right: 10px;
    box-sizing: border-box;
    background: radial-gradient(circle, rgba(191, 191, 191, 1) 0%, rgba(242, 242, 242, 1) 100%);
    font-family: Arial;
}

.main-box-gen-info {
    flex: 1;
    width: 100%;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    z-index: 5;
    overflow: hidden;
}

/* For modern browsers */
.table-container-gen::-webkit-scrollbar {
    border-radius: 8px;
    width: 10px;
    /* Width of the vertical scrollbar */
    height: 10px;
    /* Height of the horizontal scrollbar */
}

.table-container-gen::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

.table-container-gen::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Darker color when hovered */
}

.table-container-gen::-webkit-scrollbar-track {
    background: #e0e0e0;
    /* Color of the scrollbar track */
    border-radius: 8px;
    /* Rounded corners for the track */
}

/* For Firefox */
.table-container-gen {
    scrollbar-width: thin;
    /* Makes the scrollbar thinner */
    scrollbar-color: #888 #e0e0e0;
    /* Thumb color, track color */
}

.table-container-gen {
    height: calc(100% - 50px);
    /* Full height minus padding */
    overflow-y: auto;
    margin: 0;
    box-sizing: border-box;
}

.gen-table {
    width: 100%;
    border-collapse: collapse;
}

.gen-head {
    position: sticky;
    top: 0;
    background-color: #002060;
    color: white;
    z-index: 1;
}

.gen-head-del {
    position: sticky;
    top: 0;
    background-color: #cb6f6f;
    color: white;
    z-index: 1;
}

.gen-tr {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.gen-th {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.gen-nr {
    width: 5%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.gen-fn {
    width: 35%;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.gen-stat {
    width: 10%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.popup-anchor {
    position: relative;
    display: inline-block;
}

.gen-rev {
    width: 20%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.gen-ver {
    width: 15%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.gen-pub {
    width: 15%;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.gen-point {
    cursor: pointer;
}

.cent-values-gen {
    text-align: center;
    font-size: 14px;
}

.ibraGenDelNr {
    width: 5%;
    padding: 10px;
    text-align: center;
}

.ibraGenDelFN {
    width: 35%;
}

.ibraGenDelVer {
    width: 10%;
}

.ibraGenDelDB {
    width: 15%;
}

.ibraGenDelDD {
    width: 15%;
}

.ibraGenDelED {
    width: 15%;
}

.ibraGenDelAct {
    width: 5%;
}

.ibraGenNr {
    width: 5%;
    padding: 10px;
    text-align: center;
}

.ibraGenFN {
    width: 30%;
}

.ibraGenType {
    width: 5%;
    padding: 10px;
    text-align: center;
}

.ibraGenStatus {
    width: 10%;
    padding: 10px;
    text-align: center;
}

.ibraGenVer {
    width: 5%;
    padding: 10px;
    text-align: center;
}

.ibraGenPB {
    width: 10%;
    padding: 10px;
    text-align: center;
}

.ibraGenPD {
    width: 10%;
    padding: 10px;
    text-align: center;
}

.ibraGenRB {
    width: 10%;
    padding: 10px;
    text-align: center;
}

.ibraGenRD {
    width: 10%;
    padding: 10px;
    text-align: center;
}