.col-sig-act {
    width: 3%;
}

.error-sign {
    border: 2px solid #CB6F6F;
    color: #CB6F6F;
}

.add-row-button-ds {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    /* Adjust size */
    height: 30px;
    border-radius: 50%;
    /* Makes it circular */
    border: none;
    background-color: transparent;
    color: gray;
    /* Adjust color */
    font-size: 24px;
    cursor: pointer;
    margin: auto;
    transform: translateY(-54%);
    /* Centers the button */
}

.insert-row-container-sig {
    height: 0;
}

.insert-row-cell-sig {
    padding: 0 !important;
    text-align: center;
    position: relative;
    height: 0;
}

.insert-row-button-sig {
    background-color: transparent;
    color: black;
    font-weight: bold;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background 0.3s ease;
}

tr:hover+.insert-row-container-sig .insert-row-button-sig {
    opacity: 1;
}