.aim-textarea-pt {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
    outline: none;
}

.aim-input-pt {
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
    outline: none;
}

.procCent {
    text-align: center;
}

.procAct {
    width: 5%;
}

.procPrev {
    width: 10%;
}

.procNr {
    width: 3%;
}

.procMain {
    width: 30%;
}

.procSub {
    width: 44%;
}

.procAR {
    width: 18%;
}

.error-proc {
    border: 2px solid #CB6F6F;
    color: #CB6F6F;
}

.top-right-button-proc {
    position: absolute;
    top: 15px;
    /* Adjust based on your container's padding */
    right: 15px;
    /* Adjust based on your container's padding */
    z-index: 1;
    /* Ensure button stays above other content */
    /* Add any additional styling (padding, colors, etc.) */
    padding: 5px 10px;
    background-color: #d7c8ac;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    height: 46px;
}

.proc-box {
    background-color: white;
    padding: 15px;
    margin: 10px 0;
    /* Keeps it aligned */
    width: 90%;
    /* Makes the boxes shorter */
    /* Prevents overly long input fields */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.select-container-proc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* Space between the A-label + select and R-label + select */
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    /* Space between label and dropdown */
}

.select-label-proc {
    font-weight: bold;
}

.table-control-proc {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}