.aim-textarea-pt {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
    outline: none;
}

.procCent {
    text-align: center;
}

.procAct {
    width: 5%;
}

.procNr {
    width: 3%;
}

.procMain {
    width: 30%;
}

.procSub {
    width: 44%;
}

.procAR {
    width: 18%;
}

.select-container-proc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    /* Space between the A-label + select and R-label + select */
}

.select-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
    /* Space between label and dropdown */
}

.select-label-proc {
    font-weight: bold;
}

.table-control-proc {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}