.aim-textarea-pt {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
    outline: none;
}

.procCent {
    text-align: center;
}

.procAct {
    width: 5%;
}